@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-black-2 {
    -webkit-text-stroke: 2px black;
  }

  .font-outline-black-4 {
    -webkit-text-stroke: 4px black;
  }

  .font-outline-white-2 {
    -webkit-text-stroke: 2px white;
  }

  .font-outline-white-4 {
    -webkit-text-stroke: 4px white;
  }

  .custom-button {
    @apply transition duration-300 ease-in-out;
  }

  .custom-button-hover:hover {
    @apply scale-105 transform;
  }
}

:root {
  font-family: Jost, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: white;
}
